#agenda {
    display: table;
    width: 100%;
    background-color: #F98050;
    padding: 2em 5em;
}

.scheduleMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 105%;
}

.schedule {
    margin-right: 2em; 
    margin-bottom: 1em;
}