#specialcards {
    display: table;
    margin: 0 auto;
    width: 100%;
    background-color: #0F0301;
    padding: 2rem 5rem;

    h1, p {
        color: white;
    }

    img {
        width: 25em;
    }
}

.dragons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#red, #green, #blue {
    margin-right: 1.2em;
    background-color: white;
    justify-content: center;
    text-align: center;
    width: 25em;
}

.redgreenblue {
    padding:  0.5em 2em 2em 2em;

    #dragonType {
    font-size: 1.25em;
    font-weight:bold;
    color:black;
    }

    #dragonDescription {
    padding-top: 0.5em;
    color: black;
    }
}

h2 {
    font-weight: normal;
    color: #0B63AF;
    padding-top: 0.5em;
}

.line2 {
    display: table;
    margin: 0 auto;
    width: 9rem;
    height: 0.14em;
    background-color: black;
    margin-top: 0.5em;
}