#tickets {
    display: table;
    margin: 0 auto;
    width: 100%;
    background-color: #0F0301;
    padding: 2em 5em;

    @include tablet {
        padding: 2em 2em;
    }

    h1, p {
        color: white;
    }

    img {
        width: 100%;
    }
}

#london, #paris, #rome {
    margin-right: 1em;
    margin-top: 1em;
    background-color: white;
    justify-content: center;
    text-align: center;
    width: 25em;

    @include tablet {
        width: 70%;
    }

    @include microphone {
        width: 90%;
        margin-right: 0em;
    }
}